<footer>
  <nav>
      <img src="" href="/" alt="">
      <a href="/"></a>
        <div class="navbarr">
          <a class="" href="/">Home</a>
          <a class="" href="/equipment_losses">Equipment losses"</a>
          <a class="" href="/personnel_losses">Personnel_losses</a>
          <a class="" href="/c">3</a>    
          <a class="" href="/d">4</a>           
        </div>
      </div>
  </nav>
</footer>