<header>
  <nav>
      <img src="" href="/" alt="">
      <a href="/"></a>
        <div class="navbarr">
          <a class="" href="/">Home</a>
          <a class="" href="/equipment_losses">Equioment Losses</a>
          <a class="" href="/personnel_losses">Personnel Losses</a>
          <a class="" href="/c">c</a>    
          <a class="" href="/d">d</a>           
        </div>
      </div>
  </nav>
</header>